// Main Sass File

body {
  font-family: 'Averia Libre', cursive;
  text-align: center;
}


@media (min-width:299px) {
.hero {
  padding-bottom: 100px;
  height: auto;
  }

.redesign {
  font-family: 'Averia Libre', cursive;
  font-size: 40px;
  font-weight: 800;
  }

.fa-coffee {
  font-size: 45px;
  margin-bottom: 20px;
  }

.clientsite {
  font-size: 20px;
  }

.w-container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  }

.problem-section {
  position: relative;
  padding-bottom: 5vh;
  padding-top: 15vh;
  background-color: #1a2980;
  color: white;
}

.solution-section {
  position: relative;
  padding-bottom: 5vh;
  padding-top: 15vh;
  background-color: #1a2980;
  color: white;
}

.title {
  font-family: 'Averia Libre', cursive;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 800;
}

.includes-title {
  font-family: 'Averia Libre', cursive;
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 3em;
  font-weight: 400;
}

.icon-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  max-width: 300px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  }

.wrap {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-bottom: 15px;
  padding: 50px 20px;
  border: 10px solid #ece9e6;
  border-width: 5px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
  color: #000;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: justify;
}

.wrap.solution {
  padding-right: 35px;
  padding-left: 25px;
  position: relative;
  margin-bottom: 15px;
  padding: 50px 20px;
  border: 10px solid #4441f8;
  border-width: 5px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
  color: #000;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: justify;
}

.wrap.padding {
  position: relative;
  margin-bottom: 20px;
  padding: 35px 30px;
  border-width: 5px;
  border-color: #eee;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
  color: #000;
  text-align: center;
  }

.wrap.price {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  border-width: 5px;
  font-size: 1em;
  }

  .wrap.price.total {
    border-color: #4441f8;
    color: #4441f8;
    font-weight: 700;
  }

.pricing-section {
    position: relative;
    padding-top: 175px;
  }

.title.includes {
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 2.5em;
  line-height: 1.1em;
}

.action-section {
    position: relative;
    padding-top: 175px;
    padding-bottom: 15vh;
    background-color: #1a2980;
    color: white;
  }

  .wrap.action {
    margin-top: 20px;
    font-size: 1em;
    }




@media (min-width:767px) {
.hero {
  padding-top: 200px;
  padding-bottom: 100px;
  height: 100vh;
  }

  .redesign {
    font-weight: 800;
    font-size: 60px;
  }

  .fa-coffee {
    font-size: 85px;
    margin-bottom: 40px;
  }

  .clientsite {
    font-size: 32px;
    font-weight:400;
    }

  .problem-section {
    position: relative;
    padding-top: 20vh;
    padding-bottom: 5vh;
    }

  .solution-section {
    position: relative;
    padding-top: 20vh;
    padding-bottom: 5vh;
    }

  .title {
    margin-bottom: 0px;
    font-size: 3.5em;
    line-height: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .icon-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    width: 50%;
    max-width: 350px;
    margin-top: -5vh;
    margin-right: auto;
    margin-left: auto;
  }

  .wrap {
    position: relative;
    margin-bottom: 15px;
    padding: 50px 100px;
    border: 10px solid #ece9e6;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);

    color: #000;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    }

  .solution-wrap {
    position: relative;
    margin-bottom: 15px;
    padding: 50px 100px;
    border: 10px solid #4441f8;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
    color: #000;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    }

  .wrap.padding {
    position: relative;
    margin-bottom: 20px;
    padding: 35px 20px;
    border-width: 5px;
    border-color: #eee;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
    color: #000;
    text-align: center;
  }
  .wrap.price {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 65px;
    padding-right: 65px;
    justify-content: space-between;
    text-align: center;
    border-width: 10px;
    font-size: 1.5em;

  }

  .wrap.price.total {
    border-color: #4441f8;
    color: #4441f8;
    font-weight: 700;
  }

  .pricing-section {
      position: relative;
      padding-top: 20vh;
      padding-bottom: 5vh;
    }

  .price {
    display: inline-block;
  }

  .title.includes {
      margin-top: 100px;
      margin-bottom: 70px;
      font-size: 3em;
      font-weight: 400;
    }
    .action-section {
        position: relative;
        padding-top: 20vh;
        padding-bottom: 15vh;
        background-color: #1a2980;
      }

      .wrap.action {
        margin-top: 20px;
        font-size: 1.5em;
        }
  }
}


.icon {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: transparent;
}

.w-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 940px
}



.btn-primary {
  background-color: #1a2980;
  outline-color: #1a2980;
  color: white;
}

.btn-outline-primary {
  border: 2px solid #1a2980;
}

.btn-primary:hover {
    background-color: #000;
}

.btn-proposal {
margin-top: 20px;
padding: 15px 25px;
border-radius: 10px;
font-size: 1.5em;
font-weight: 400;
}

.btn-solution {
  margin-top: 50px;
  margin-bottom: 75px;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  -webkit-transition: box-shadow 200ms ease-in, color 200ms ease-in, background-color 200ms ease-in;
  transition: box-shadow 200ms ease-in, color 200ms ease-in, background-color 200ms ease-in;
  color: #000;
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 600;
}

.btn-solution:hover {
  color: white;
  background-color: #0072ff;
  background-image: linear-gradient(270deg, transparent, #0072ff);
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3)

}


.line {
    width: 50%;
    height: 25px;
    margin-bottom: 5px;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.waves {
    margin-top: -5px;
    margin-bottom: -5px;
    padding-top: 350px;
    background-color: #1a2980;
    background-image: url(/img/waves.png), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), transparent 15%);
    background-image: url(/img/waves.png), linear-gradient(180deg, rgba(0, 0, 0, .2), transparent 15%);
    background-position: 50% 0px, 0px 0px;
    background-size: contain, auto;
    background-repeat: repeat-x, repeat;
}


  .line-title {
    position: relative;
    z-index: 5;
    display: block;
    width: 25px;
    height: 5px;
    margin: 10px auto 15vh;
    border-radius: 3px;
    background-color: #fff;
  }


  .div-line-black {
    background-color: #000;
    display: block;
    width: 25px;
    height: 5px;
    margin: 10px auto 15px;
    border-radius: 5px;
    }


  .or {
    color: gray;
  }

  .comment{
    display: inline-block;
  margin-top: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .3);
  -webkit-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  }

.comment:hover {
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px solid hsla(0, 0%, 100%, .9);
}
